.navbar{
    height: 80px;
    background-color: black;
    border-bottom: 1px solid whitesmoke;
}

.nav-menu{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}


.nav-menu img{
    width: 20%;
    height: auto;
    margin-left: -30px;
}

@media only screen and (max-width:480px){

    .nav-menu img{
        width: 50%;
        margin-left: -30px;
    }
}